
@{
    ViewBag.Title = "TheEnd";
}

<h2>TheEnd</h2>

<div class="pink_box">
    <P>
        Thank you for playing with us today !. <br />
        You have reached your limit today.<br />
        Come back later for more !..
    </P>
</div>